mixin Entity(id, type, x, y, rad)
  g(
    transform='translate(' + x + ', ' + y + ') rotate(' + (rad+3.14/2)*180/3.14 + ')'
    key=id
    id=id
  )
    if type === 'player'
      circle(cx=0 cy=0 r=15 fill='white' stroke='black')
      line(
        x1=0 y1=0
        x2=0 y2=-15
        stroke='black')
    else if type === 'enemy'
      circle(cx=0 cy=0 r=15 fill='orange' stroke='black')
      line(
        x1=0 y1=0
        x2=0 y2=-15
        stroke='black')
    else
      circle(cx=0 cy=0 r=5 fill='black' stroke='red')
      //- line( x1=0 y1=0
      //-   x2=0 y2=-5
      //-   stroke='white')
      
mixin focus(x, y)
  g(
    transform='translate(' + x + ', ' + y + ')'
  )
    circle(cx=0 cy=0 r=10 fill='transparent' stroke='red')

svg(
  key='main'
  className='main'
  width=640 height=480
  onMouseMove=onMouseMove
  onMouseDown=onMouseDown
  onMouseUp=onMouseUp
  onContextMenu=onContextMenu
)
  g(
    transform='translate(' + -cx + ', ' + -cy + ')'
    key='field'
  )
    rect(
      width=620 height=460
      x=10 y=10
      fill='gray'
    )
    
    for entity in entities
      +Entity(entity.id, entity.type, entity.x, entity.y, entity.rad)
    +focus(focus.x, focus.y)
    
  //- g(
  //-   transform='translate(' + -cx + ', ' + -cy + ')'
  //-   key='physics'
  //- )
  //-   for body in bodies
  //-     - var x = body.pos.x;
  //-     - var y = body.pos.y;
  //-     - var med = body.angle;
  //-     g(
  //-       key= body.uid
  //-       transform= 'translate('+x+','+y+') rotate(' + med + ')'
  //-     )
  //-       if body.name === "circle"
  //-         circle(
  //-           cx=0
  //-           cy=0
  //-           r= body.radius
  //-           fill= 'none',
  //-           stroke= 'red'
  //-         )
  //-       else if body.name === 'rectangle'
  //-         rect(
  //-           width=body.width
  //-           height=body.height
  //-           x=-body.width/2
  //-           y=-body.height/2
  //-           fill='gray'
  //-         )
  //-       else if body.name === 'convex-polygon'
  //-         - var vs = body.vertices;
  //-         - var points = vs.map(function(v){return v.x+','+v.y;}).join(' ')
  //-         polygon(
  //-           points = points
  //-           fill= 'gray'
  //-         )
    
hr
span score
span= score
