mixin Entity(id, type, x, y, rad)
  g(
    transform='translate(' + x + ', ' + y + ') rotate(' + (rad+3.14/2)*180/3.14 + ')'
    key=id
    id=id
  )
    if type === 'player'
      circle(cx=0 cy=0 r=15 fill='white' stroke='black')
      line(
        x1=0 y1=0
        x2=0 y2=-15
        stroke='black')
    else if type === 'enemy'
      circle(cx=0 cy=0 r=15 fill='orange' stroke='black')
      line(
        x1=0 y1=0
        x2=0 y2=-15
        stroke='black')
    else
      circle(cx=0 cy=0 r=5 fill='black' stroke='red')
      //- line( x1=0 y1=0
      //-   x2=0 y2=-5
      //-   stroke='white')
      
mixin focus(x, y)
  g(
    transform='translate(' + x + ', ' + y + ')'
  )
    circle(cx=0 cy=0 r=10 fill='transparent' stroke='red')

svg(
  key='main'
  className='main'
  width=640 height=480
  onMouseMove=onMouseMove
  onMouseDown=onMouseDown
  onMouseUp=onMouseUp
  onContextMenu=onContextMenu
)
  g(
    transform='translate(' + -cx + ', ' + -cy + ')'
    key='field'
  )
    rect(
      width=620 height=460
      x=10 y=10
      fill='gray'
    )
    
    for entity in entities
      +Entity(entity.id, entity.type, entity.x, entity.y, entity.rad)
    +focus(focus.x, focus.y)
    
hr
span score
span= score
